#spring.jpa.hibernate.ddl-auto=update
#spring.datasource.driverClassName=org.mariadb.jdbc.Driver
#spring.datasource.url=jdbc:mariadb://kangminlovesjihye.ddns.net:3306/blog_project
#spring.datasource.url=jdbc:mariadb://localhost:3306/web_invitation_db
#spring.datasource.username=web_user
#spring.datasource.password=1234
spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  h2:
    console:
      enabled: true